<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmu.mapper.Shopping_CartMapper">

    <delete id="delete" parameterType="jmu.vo.Shopping_Cart">
        DELETE FROM shopping_cart WHERE id=#{id}
    </delete>
    <select id="querycartbuyer" parameterType="jmu.vo.Shopping_Cart">
    select count(id) FROM shopping_cart where buyerid=#{buyerid}
    </select>
</mapper>
